# PostgreSQL
DB_HOST=postgres
DB_PORT=5432
DB_NAME=earthquake_db
DB_USER=postgres
DB_PASSWORD=yourpassword

# AWS S3
AWS_PROFILE=your_aws_profile
AWS_REGION=us-west-2
S3_BUCKET_NAME=your_bucket_name
S3_PREFIX=your/folder/path/

# API URLs
USGS_URL=https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_day.geojson
OPEN_METEO_URL=https://api.open-meteo.com/v1/forecast
REST_COUNTRIES_URL=https://restcountries.com/v3.1/name/

# Email Alerts
SMTP_EMAIL=your_email@gmail.com
SMTP_PASSWORD=your_gmail_app_password

# Airflow
AIRFLOW__CORE__LOAD_EXAMPLES=false